@import url(sanitize.css);

body {
    margin: 0;
    padding: 5px;
    font-family: system-ui, Verdana, Geneva, sans-serif;
    min-height: 100vh !important;

    & button {
        &:disabled {
            background-color: grey;
            cursor: not-allowed !important;
            color: white;
        }
    }

    & ul {
        margin: 0;
        padding: 0;
        width: 100%;
    }
}
